<div class="row">
    <!-- <div class="alert alert-success"
   *ngIf='message'>{{message}}</div> -->
    <div class="container">
        <h3 class="text-center">List of Users</h3>
        <hr>
        <div class="container text-left">
            <a href="" class="btn btnsuccess">Add
                New User</a>
        </div>
        <br>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Country</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        a
                    </td>
                    <td>
                        b
                    </td>
                    <td>
                        c
                    </td>
                    <td>
                        d
                    </td>
                    <td><a href="">Edit</a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="">Delete</a></td>
                </tr>

                <!-- } -->
            </tbody>
        </table>
    </div>
</div>

<!-- create -->
<div class="container col-md-5">
    <div class="card">
        <div class="card-body">
            
            <form action="insert" method="post">
            
            <caption>
                <h2>
                        Add Post
                </h2>
            </caption>
            
                <input type="hidden" name="id" />
          
            <fieldset class="form-group">
                <label>User Name</label> <input type="text" class="form-control" name="name" required="required">
            </fieldset>
            <fieldset class="form-group">
                <label>User Email</label> <input type="text" class="form-control" name="email">
            </fieldset>
            <fieldset class="form-group">
                <label>User Country</label> <input type="text" class="form-control" name="country">
            </fieldset>
            <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
    </div>
</div>